<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Viajes por el mundo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/23858ab0b5.js" crossorigin="anonymous"></script>
    <link rel="STYLESHEET" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <header>
        <a href="index.html" class="logo"><i class="fas fa-globe-americas fa-3x"></i></a>
        <h1>Viajes por el mundo</h1>
        <nav>
            <ul id="nav-list">
                <li><a href="consejos.html" class="navitem">Consejos</a></li>
                <li><a href="faq.html" class="navitem">FAQ</a></li>
                <li><a href="encuesta.html" class="navitem">Encuesta</a></li>
                <li><a href="contacto.html" class="navitem">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Consejos útiles</h2>
        <div id="topconsejos">
            <article>
                <h3>Consejos para un viaje exitoso:</h3>
                <ol>
                    <li>Investigar los destinos deseados</li>
                    <li>Hacer un presupuesto estimativo</li>
                    <li>Elegir un destino</li>
                    <li>Conseguir visa o permisos de viaje (de ser necesario)</li>  
                    <li>Aplicarse las vacunas indicadas por cada país</li>           
                    <li>Comprar pasajes, hospedajes y entradas a atracciones</li>
                    <li>Contratar un seguro para viajeros</li>
                    <li>Llegar a tiempo para tomar vuelos, trenes o buses. Considerar que si hay que pasar por migraciones suele haber demoras</li>
                    <li>Estar atento a los cambios de horarios, al pasar a otro país o región</li>
                </ol>
            </article>
            <img src="img/tren.jpg" alt="Tren viajando por un curva en paisaje otoñal" id="trainpic">
        </div>
        <article>
            <h3>Consejos para elegir un medio de transporte</h3>
            <p>Para elegir un medio de transporte, hay que tener en cuenta las ventajas y desventajas de cada uno de ellos.
            Considerando el presupuesto y la cantidad de días disponibles, uno podrá elegir la mejor opción para cada caso.        </p>
            <table>
                <tr>
                    <th>Medio de transporte</th>
                    <th>Ventajas</th>
                    <th>Desventajas</th>
                </tr>
                <tr>
                    <td>Avión</td>
                    <td>Más rápido</td>
                    <td>Precio elevado</td>
                </tr>
                <tr>
                    <td>Auto</td>
                    <td>Mayor flexibilidad</td>
                    <td>Requiere permiso de conducir</td>
                </tr>
                <tr>
                    <td>Bus</td>
                    <td>Más barato</td>
                    <td>Más lento</td>
                </tr>
            </table>
        </article>
        <article id="consejosseccion">
            <h3>Consejos de otros usuarios</h3>
            <p>En esta sección tenemos ganas de escucharlos a ustedes y de permitir que compartan sus experiencias!</p>
            
            <form id="consejosusuarios">
                <label class="consejoslabel">Nombre: <input type="text" name="nombreconsejos" id="nombreconsejos" value="" v-model="nombre" placeholder="Ingrese su nombre aquí" required></label><br>
                <div class="opinion">
                    <legend class="consejoslabel">¿Viajaste con "Viajes por el mundo"?</legend> 
                    <label class="consejoslabel">No<input type="radio" name="viaje" value="No" v-model="seleccionado" required></label>
                    <label class="consejoslabel">Si<input type="radio" name="viaje" value="Si" v-model="seleccionado" required></label><br><br>
                    
                    <div v-html="contenidohtml"></div> 
                </div>

                <textarea name="opiniontexto" v-model="opiniontexto" placeholder="Ingresa tu consejo aquí..."></textarea><br>
                <input value="Publicar" class="button" id="buttonconsejos" @click="publicar">
            </form>

            <div class="public" v-if=show> Autor: {{nombre}}<br>  
                <span class="opiniontxt">"{{opiniontexto}}"</span>
            </div>
           
        </article>
    </main>
    <footer>
        <div id="foot">
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-2x smicon"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x smicon"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square fa-2x smicon"></i></a>
        </div>
        <p id="copyright">Copyright 2020 © Todos los derechos reservados</p>        
    </footer>
    <script src="js/consejos.js"></script>
</body>
</html>